.main__modal {
 position: fixed;
 top: 0;
 left: 0;
 z-index: 98;
 width: 0;
 height: 0;
 pointer-events: none;
 opacity: 0;
 background-color: rgb(0 0 0 / 50%);
}

.main__modal.active {
 width: 100%;
 height: 100vh;
 pointer-events: initial;
 opacity: 1;
}

#admin .main__modal {
 position: fixed;
 top: 0;
 left: 20%;
 z-index: 98;
 width: 80%;
 height: 100vh;
 background-color: rgb(0 0 0 / 50%);
}

.main__modal--content {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 background-color: #fff;
 min-width: 600px;
 min-height: 300px;
 max-height: 600px;
 overflow: auto;
 border-radius: 15px;
 padding: 20px 0;
}

.main__modal--content.mh-auto {
 min-height: auto;
}

.main__modal--title {
 border-bottom: 1px dashed #000;
 font-size: 24px;
 font-weight: 700;
 padding: 0 15px 15px;
}

.main__modal--content form {
 padding: 30px 20px;
}

.main__modal--content form label {
 font-size: 14px;
}

.main__modal--content form input {
 height: 30px;
 font-size: 14px;
}

.main__modal--content form input[type=submit] {
 display: block;
 margin: 40px auto 0;
 height: 40px;
 min-width: 150px;
}

.btn {
 height: 40px;
 font-size: 14px;
}


.btn__close {
 position: absolute;
 top: 12px;
 right: 5px;
 z-index: 2;
 display: flex;
 justify-content: center;
 align-items: center;
 width: 40px;
 height: 40px;
 cursor: pointer;
}


.btn__close i {
 font-size: 32px;
 pointer-events: none;
}

.btn_center {
 display: flex;
 justify-content: center;
 align-items: center;
 width: max-content;
}