@import url(./reset.css);
@import url(./loading.css);
@import url(./modal.css);

:root {
 --main1: #2A3650;
 --main2: #374462;
 --main3: #F4F7F9;
 --text1: #fff;
}

#form-register {
 max-width: 600px;
 margin: 0 auto;
}

.form-group {
 margin-bottom: 30px;
}

.form-group:last-child {
 margin-bottom: 0;
}

#password-notification .message-password {
 padding: 30px 15px;
}

#password-notification .message-password p {
 font-size: 14px;
 text-align: center;
 color: red;
}

#password-notification .message-password p i {
 margin-right: 5px;
}

.message-notification {
 padding: 30px 15px;
}

.message-notification p {
 font-size: 14px;
}

.message-notification p .note {
 color: red;
 font-weight: 700;
}

header {
 position: fixed;
 top: 0;
 left: 0;
 z-index: 99;
 width: 100%;
 background-color: #fff;
}

.header__wrapper {}

.header__top {
 display: flex;
 align-items: center;
 justify-content: flex-end;
 padding: 10px 15px;
}

.header__top--nav {
 display: flex;
 align-items: center;
}

.header__top--nav li {
 position: relative;
}

.header__top--nav li i {
 margin-right: 5px;
}

.header__top--nav li a {
 font-size: 14px;
 color: var(--main1);
 text-decoration: none;
}

.header__top--nav li:not(:last-child) {
 margin-right: 15px;
}

.header__top--nav li:not(:last-child)::before {
 content: '';
 position: absolute;
 top: 0;
 right: -8px;
 width: 1px;
 height: 100%;
 background-color: var(--main1);
}

.header__bottom {
 display: flex;
 align-items: center;
 justify-content: space-between;
 background-color: var(--main2);
 padding: 10px 15px;
}

.header__bottom--logo {
 width: 150px;
}

.header__bottom--logo a,
.header__bottom--logo a img {
 width: 100%;
}

.header__bottom--nav {
 display: flex;
 align-items: center;
}

.header__bottom--nav li {}

.header__bottom--nav li a {
 text-decoration: none;
 font-size: 18px;
 color: #fff;
}

.header__bottom--nav li:not(:last-child) {
 margin-right: 20px;
}

.header__user {
 display: flex;
 align-items: center;
}

.header__user--avatar {
 width: 40px;
 height: 40px;
 border-radius: 50%;
 overflow: hidden;
 /* border: 1px dashed var(--main2); */
 margin-right: 20px;
}


.header__user--avatar img {
 width: 100%;
 height: 100%;
 object-fit: cover;
}

.header__user--name {
 font-size: 16px;
 font-weight: 700;
 color: var(--main1);
 cursor: pointer;
}

.header__user--dropdown {
 min-width: 150px;
 width: max-content;
}

.header__user--dropdown li {
 padding: 10px 15px;
 border-top: 1px dashed var(--main1);
 cursor: pointer;
}

.header__user--dropdown li:first-child {
 border-top: 0;
}

.header__user--dropdown li:not(:last-child) {
 border-bottom: 0;
}

.header__user--dropdown li a,
.header__user--dropdown li span {
 text-decoration: none;
 font-size: 15px;
 color: var(--main1);
 font-weight: 500;
 display: inline-block;
 width: 100%;
}

.header__user--dropdown li i {
 margin-right: 5px;
}

main {
 padding-top: 136px;
}

section {
 padding: 30px 0;
}

.section-breadcrumb ul {
 display: flex;
 align-items: center;
}

.section-breadcrumb ul li a,
.section-breadcrumb ul li span {
 font-size: 16px;
 color: var(--main2);
}

.section-breadcrumb ul li a {
 text-decoration: none;
}

.section-breadcrumb ul li:not(:last-child) {
 margin-right: 20px;
 position: relative;
}

.section-breadcrumb ul li:not(:last-child)::after {
 content: '/';
 color: var(--main1);
 font-size: 16px;
 position: absolute;
 top: 1px;
 right: -13px;
}

.main__title {
 font-size: 32px;
 font-weight: 700;
 color: var(--main2);
 margin-bottom: 30px;
}

.product-banner {
 padding: 0 0 30px;
}

.product-banner__image {
 width: 100%;
 height: 300px;
}

.product-banner__image img {
 width: 100%;
 height: 100%;
 object-fit: cover;
}

.product-list__filter {
 background-color: blue;
 height: 300px;
}

.product-list__wrapper {
 display: flex;
 justify-content: space-between;
 flex-wrap: wrap;
 margin: 0 -15px -20px;
 position: relative;
}

.product-list__wrapper::after {
 content: '';
 flex: 1;
}

.product-list__col {
 flex: 0 0 33.33%;
 max-width: 33.33%;
 margin-bottom: 30px;
 padding: 0 10px;
}

.product-list__item {
 width: 100%;
 border: 1px dashed var(--main1);
 border-radius: 5px;
 position: relative;
}

.product-list__item--image {
 width: 100%;
 border-bottom: 1px dashed var(--main1);
 padding: 30px;
 overflow: hidden;
}

.product-list__item--image img {
 width: 100%;
 height: auto;
}

.product-list__content {
 padding: 10px 15px;
}

.product-list__title {
 font-size: 18px;
 font-weight: 700;
 margin-bottom: 10px;
 line-height: 1.3;
 display: -webkit-box;
 -webkit-line-clamp: 2;
 -webkit-box-orient: vertical;
 overflow: hidden;
 text-overflow: ellipsis;
}

.product-list__des {
 font-size: 14px;
 font-weight: 700;
 margin-bottom: 10px;
 line-height: 1.3;
 display: -webkit-box;
 -webkit-line-clamp: 3;
 -webkit-box-orient: vertical;
 overflow: hidden;
 text-overflow: ellipsis;
}

.product-list__priceOld {
 font-size: 12px;
 color: rgb(0 0 0 / 50%);
 margin-bottom: 5px;
 text-decoration: line-through;
}

.product-list__price {
 font-size: 16px;
 color: var(--main1);
 font-weight: 700;
}

.product-list__discount {
 position: absolute;
 top: 5px;
 right: 5px;
 width: 40px;
 height: 40px;
 background-color: red;
 border-radius: 50%;
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 14px;
 font-weight: 500;
 color: #fff;
 pointer-events: none;
}

.product-list__btn {
 position: absolute;
 width: 100%;
 height: 100%;
 top: 0;
 left: 0;
 opacity: 0;
 pointer-events: none;
 transition: all ease-in-out .5s;
 background-color: rgb(0 0 0 / 80%);
 border-radius: 5px;
 display: flex;
 justify-content: center;
 align-items: center;
}

.product-list__btn a,
.product-list__btn i {
 font-size: 24px;
 color: #fff;
 cursor: pointer;
}

.product-list__btn a {
 margin-right: 10px;
}

.product-list__item:hover .product-list__btn {
 pointer-events: inherit;
 opacity: 1;
}

#product-detail .product-des__detail p {
 margin-bottom: 28px;
}

#product-detail .product-des__detail a {
 text-decoration: none;
 pointer-events: none;
 box-shadow: none !important;
}

#product-detail .product-info__image {
 width: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
}

#product-detail .product-info__image img {
 width: 400px;
 height: auto;
}

#product-detail .product-info__category {
 display: flex;
 align-items: center;
 margin-bottom: 20px;
}

#product-detail .product-info__category li a {
 text-decoration: none;
 font-size: 14px;
 color: var(--main1);
}

#product-detail .product-info__category li:not(:last-child) {
 margin-right: 15px;
}


#product-detail .product-info__priceOld {
 font-size: 16px;
 color: rgb(0 0 0 / 50%);
 margin-bottom: 15px;
 text-decoration: line-through;
}

#product-detail .product-info__price {
 font-size: 18px;
 color: var(--main1);
 font-weight: 700;
 margin-bottom: 30px;
}

#product-detail #product-info__size {
 margin-bottom: 60px;
}

#product-detail #product-info__size label {
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 0;
 height: 40px;
 width: 40px;
 font-size: 14px;
}


#cart table.no-border,
#cart table.no-border th,
#cart table.no-border td {
 border: 1px dashed transparent;
 vertical-align: middle;
}

#cart table.no-border {
 width: 100%;
}

#cart table.no-border th,
#cart table.no-border td {
 position: relative;
 padding: 10px;
 font-size: 16px;
 border-bottom-color: var(--main1);
 color: var(--main1);
 max-width: 400px;
}

#cart table.no-border th {
 font-weight: 700;
 border-bottom-color: var(--main1);
}

#cart table.no-border td button {
 margin-bottom: 1px;
}

#cart table.no-border td button:not(:last-child) {
 margin-right: 5px;
}

#cart table.no-border .table-center p {
 position: absolute;
 width: 100%;
 height: 100%;
 top: 0;
 left: 0;
 padding: 5px 0;
}

#cart table.no-border img {
 width: 50px;
 height: 50px;
 object-fit: cover;
}

#cart table.no-border .table-center {
 text-align: center;
}

#cart table.no-border .table-center span {
 color: var(--main1);
 font-size: 16px;
 font-weight: 700;
 padding: 15px 0;
 display: inline-block;
}

#cart table.no-border .admin-block {
 width: 40px;
 height: 40px;
 background-color: var(--main3);
 border: none;
 border-radius: 3px;
 color: var(--main1);
 font-size: 16px;
}


#cart table ul li {
 display: flex;
 align-items: center;
 justify-content: space-between;
}

#cart table ul li:not(:last-child) {
 margin-bottom: 10px;
 position: relative;
}

#cart table ul li .btn__sub--list {
 display: flex;
 align-items: center;
}

#cart table ul li .btn__sub--list .btn__sub {
 width: 20px;
 height: 20px;
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: #e1e1e1;
 border-radius: 5px;
 cursor: pointer;
}

#cart table ul li .btn__sub--list .btn__sub:hover {
 opacity: .7;
}

#cart table ul li .btn__sub--list .btn__sub:not(:last-child) {
 margin-right: 5px;
}

#cart table ul li .btn__sub--list .btn__sub i {
 color: #2A3650;
}

#cart table tbody a {
 width: 20px;
 height: 20px;
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: #e1e1e1;
 border-radius: 5px;
 cursor: pointer;
 text-decoration: none;
 margin: 0 auto;
}

#cart table tbody a i {
 color: #2A3650;
}

#cart table.no-border .btn-list {
 display: flex;
 align-items: center;
}

#cart table.no-border .btn-list span {
 font-size: 14px;
 margin: 0 10px;
}

#cart table.no-border #count-up,
#cart table.no-border #count-down {
 display: flex;
 justify-content: center;
 align-items: center;
 width: 25px;
 height: 25px;
 margin: 0;
 font-size: 14px;
}

#cart table.no-border .disable {
 opacity: .7;
 pointer-events: none;
}

#cart table.no-border select {
 font-size: 14px;
}

#cart .cart-total {
 margin-bottom: 10px;
 font-size: 16px;
}

#cart .cart-total .note {
 color: red;
 font-size: 18px;
 font-weight: 700;
}

#cart .cart-message {
 font-size: 14px;
 margin-bottom: 10px;
}

#cart .cart-size {
 width: 150px;
}

#cart #cart-delete {
 cursor: pointer;
 font-size: 16px;
 color: var(--main1);
}